// Custom styles.

body{
    //background:url(http://o6lqh5p0j.bkt.clouddn.com/330617-15040210001150%20%281%29.jpg)
    //background-size:cover;
    //background-repeat:repeat;
    //background-position:center;
}
